# Gradle
/.gradle
/build
/modules/*/build

# Eclipse
/bin
/.project
/.classpath
/.settings
/modules/*/bin
/modules/*/.project
/modules/*/.classpath
/modules/*/.settings

# IDEA
/.idea
/modules/*/out

# protocol buffer
/modules/protocolbuffers/main/java
